<h1>
	{{ mode() === 'create' ? 'Cadastrar' : 'Editar' }} Informações
	@if (mode() === 'create') {
		<p class="subtitle mt-1">Somente cursos integralizados externamente à UFU</p>
	}
</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-edit">
	<div class="row">
		<div class="col-12 col-lg-3">
			<app-input id="institution_name" label="Nome da Instituição" formControlName="institution_name">
				@if (form.get('institution_name') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-input>
		</div>
		<div class="col-12 col-lg-3">
			<app-select
				[options]="institution_typeOptions"
				id="institution_type"
				label="Tipo de Instituição"
				formControlName="institution_type"
			>
				@if (form.get('institution_type') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-select>
		</div>
		<div class="col-12 col-lg-3">
			<app-input id="course_name" label="Nome do Curso" formControlName="course_name">
				@if (form.get('course_name') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-input>
		</div>
		<div class="col-12 col-lg-3">
			<app-input id="matricula" label="Matrícula" formControlName="matricula">
				@if (form.get('matricula') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-input>
		</div>
		<div class="col-12 col-lg-3">
			<app-input id="campus" label="Campus" formControlName="campus">
				@if (form.get('campus') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-input>
		</div>
		<div class="col-12 col-lg-3">
			<app-input id="registration_number" label="Número de Registro" formControlName="registration_number">
				@if (form.get('registration_number') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-input>
		</div>
		<div class="col-12 col-lg-3">
			<app-select [options]="titrationOptions" id="course_level" label="Titulação" formControlName="course_level">
				@if (form.get('course_level') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-select>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-3">
			<app-date-time-picker id="start_date" label="Data de Ingresso" type="date" formControlName="start_date">
				@if (form.get('start_date') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-date-time-picker>
		</div>
		<div class="col-12 col-lg-3">
			<app-date-time-picker
				id="end_date"
				label="Data de Conclusão"
				type="date"
				formControlName="end_date"
			></app-date-time-picker>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-3">
			<app-input id="country" label="País" formControlName="country">
				@if (form.get('country') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-input>
		</div>
		<div class="col-12 col-lg-3">
			<app-input id="state" label="Estado" formControlName="state">
				@if (form.get('state') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-input>
		</div>
		<div class="col-12 col-lg-3">
			<app-input id="city" label="Cidade" formControlName="city">
				@if (form.get('city') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-input>
		</div>
		<!-- Campo CPF -->
		<div class="col-12 col-lg-3">
			<label for="cpf">CPF</label>
			<div id="cpf">123.456.789-14</div>
		</div>
		<div
			class="col-12 col-lg-3 d-flex align-items-end justify-content-lg-end justify-content-center mt-4 mt-md-0 gap-3"
		>
			@if (mode() === 'edit') {
				<button br-button color="secondary" (click)="onDelete()">Excluir</button>
			}
			<button br-button color="primary">Salvar</button>
		</div>
	</div>
</form>
