<h1>{{ mode() === 'create' ? 'Cadastrar' : 'Editar' }} Publicação</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-edit">
	<div class="row">
		<div class="col-12 col-lg-3">
			<app-input id="titulo" label="Título da Publicação" formControlName="titulo">
				@if (form.get('titulo') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-input>
		</div>

		<div class="col-12 col-lg-6">
			<app-input
				id="autores"
				label="Autores"
				placeholder="Ex: João Pereira; Maria Santos"
				hint="Insira os nomes dos autores no formato 'Nome Sobrenome', separados por ponto e vírgula. Mantenha a ordem de autoria original."
				formControlName="autores"
			>
				@if (form.get('autores') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-input>
		</div>

		<div class="col-12 col-lg-3">
			<app-input
				inputmode="numeric"
				type="text"
				id="ano_publicacao"
				label="Ano da Publicação"
				mask="0000"
				formControlName="ano_publicacao"
			>
				@if (form.get('ano_publicacao') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-input>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-lg-3">
			<app-input id="veiculo" label="Veículo" formControlName="veiculo">
				@if (form.get('veiculo') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-input>
		</div>

		<div class="col-12 col-lg-3">
			<app-input
				inputmode="url_publicacao"
				id="url_publicacao"
				label="URL da Publicação"
				formControlName="url_publicacao"
			>
				@if (form.get('url_publicacao') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-input>
		</div>

		<div class="col-12 col-lg-3">
			<app-select
				*ngIf="opcoes.length > 0"
				[options]="opcoes"
				id="course_name"
				label="Curso Relacionado"
				formControlName="informacao_academica"
				valueField="value"
			>
				<span *ngIf="form.get('informacao_academica')?.hasError('required')" br-feedback state="danger">
					Campo obrigatório
				</span>
			</app-select>
		</div>

		<div
			class="col-12 col-lg-3 d-flex align-items-end justify-content-lg-end justify-content-center mt-4 mt-md-0 gap-3 h-auto"
		>
			@if (mode() === 'edit') {
				<button br-button color="secondary" (click)="onDelete()">Excluir</button>
			}
			<button br-button color="primary">Salvar</button>
		</div>
	</div>
</form>
