<h1>{{ mode() === 'create' ? 'Cadastrar' : 'Editar' }} Informações</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-edit">
	<div class="row">
		<div class="col-12 col-lg-3">
			<app-input id="company_name" label="Nome da Empresa" formControlName="company_name">
				@if (form.get('company_name') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-input>
		</div>
		<div class="col-12 col-lg-3">
			<app-select [options]="categoryOptions" id="category" label="Categoria" formControlName="category">
				@if (form.get('category') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-select>
		</div>
		<div class="col-12 col-lg-3">
			<app-select [options]="job_typeOptions" id="job_type" label="Tipo de Emprego" formControlName="job_type">
				@if (form.get('job_type') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-select>
		</div>
		<div class="col-12 col-lg-3">
			<app-select [options]="locationOptions" id="location" label="Localidade" formControlName="location">
				@if (form.get('job_type') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-select>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-3">
			<app-input id="job_title" label="Cargo" formControlName="job_title">
				@if (form.get('job_title') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-input>
		</div>
		<div class="col-12 col-lg-3">
			<app-select [options]="job_levelOptions" id="job_level" label="Nível do Cargo" formControlName="job_level">
				@if (form.get('job_level') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-select>
		</div>
		<div class="col-12 col-lg-3">
			<app-input id="function" label="Função" formControlName="function"></app-input>
		</div>
		<div class="col-12 col-lg-3">
			<app-input id="salaryMedia" label="Média Salarial" formControlName="salary" type="number"></app-input>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-3">
			<app-date-time-picker
				[maxDate]="maxDate"
				id="start_date"
				label="Data de Ingresso"
				type="date"
				formControlName="start_date"
			>
				@if (form.get('start_date') | hasError) {
					<span br-feedback state="danger">Campo obrigatório</span>
				}
			</app-date-time-picker>
		</div>
		<div class="col-12 col-lg-3">
			<app-date-time-picker
				[maxDate]="maxDate"
				id="end_date"
				label="Data de Conclusão"
				type="date"
				formControlName="end_date"
			>
			</app-date-time-picker>
		</div>
		<div class="col-12 col-lg-3">
			@if (opcoes.length > 1) {
				<app-select
					[options]="opcoes"
					id="course_name"
					label="Curso Relacionado"
					formControlName="informacao_academica"
				>
					@if (form.get('informacao_academica') | hasError) {
						<span br-feedback state="danger">Campo obrigatório</span>
					}
				</app-select>
			}
		</div>
		<div
			class="col-12 col-lg-3 d-flex align-items-end justify-content-lg-end justify-content-center mt-4 mt-md-0 gap-3"
		>
			@if (mode() === 'edit') {
				<button br-button color="secondary" (click)="onDelete()">Excluir</button>
			}
			<button br-button color="primary">Salvar</button>
		</div>
	</div>
</form>
