<div class="btn-new">
	<button [routerLink]="['/informacoes/academicas/novo']" br-button color="primary">Novo Curso</button>
</div>
<h1>Informações Acadêmicas</h1>
@for (history of data; track history.id; let first = $first) {
	<app-collapse-item
		[label]="history | titleCollapseAcademicInformation"
		[id]="history.id.toString()"
		[expanded]="first"
	>
		@if (!history.matricula) {
			<div class="btn-edit">
				<button
					size="small"
					[routerLink]="['/informacoes/academicas/editar/', history.id]"
					br-button
					color="secondary"
					icon="fa-edit"
				>
					Editar Curso
				</button>
			</div>
		}
		<div class="row">
			<div class="col-12 col-lg-3">
				<app-item-info label="Nome da Instituição" [value]="history.institution_name"></app-item-info>
			</div>
			<div class="col-12 col-lg-3">
				<app-item-info label="Tipo de Instituição" [value]="history.institution_type"></app-item-info>
			</div>
			<div class="col-12 col-lg-3">
				<app-item-info label="Nome do Curso" [value]="history.course_name"></app-item-info>
			</div>
			<div class="col-12 col-lg-3">
				<app-item-info label="Nível do Curso" [value]="history.course_level"></app-item-info>
			</div>
			<div class="col-12 col-lg-3">
				<app-item-info label="País" [value]="history.country"></app-item-info>
			</div>
			<div class="col-12 col-lg-3">
				<app-item-info label="Data de Ingresso" [value]="history.start_date | date: 'dd/MM/yyyy'"></app-item-info>
			</div>
			<div class="col-12 col-lg-3">
				<app-item-info label="Data de Conclusão" [value]="history.end_date | date: 'dd/MM/yyyy'"></app-item-info>
			</div>
			<div class="col-12 col-lg-3">
				<app-item-info label="Estado" [value]="history.state"></app-item-info>
			</div>
			<div class="col-12 col-lg-3">
				<app-item-info label="Cidade" [value]="history.city"></app-item-info>
			</div>
			<div class="col-12 col-lg-3">
				<app-item-info label="Matrícula" [value]="history.matricula || '--'"></app-item-info>
			</div>
		</div>
	</app-collapse-item>
	@if (!$last) {
		<hr class="divider" />
	}
}
<div class="btn-new-mobile">
	<button [routerLink]="['/informacoes/academicas/novo']" br-button color="primary">Novo Curso</button>
</div>
